<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="stylesheets/style.css">
        <title>Feedback Form</title>
    </head>
    <body>
        <div class="container">
            <main>
                <h1>Submitted Entry</h1>
                <p>Your Name (optional): <%= data.name %></p>
                <p>Course Title: <%= data.course %></p>
                <p>Given Score (1-10): <%= data.score %>pts</p>
                <p>Reason:</p>
                <p><%= data.reason %></p>
                <form action="/" method="GET">
                    <p><input type="submit" id="return" name="return" value="Return"></p>
                </form>           
            </main>
        </div> 
    </body>
</html>